<div class="container mt-4">
  <!-- Mentee Details -->
  <div class="card shadow mb-4">
    <div class="card-header bg-dark text-white d-flex flex-wrap justify-content-center align-items-center justify-content-sm-between gap-3">
      <h5 class="display-6 text-nowrap text-capitalize text-white mb-0">Mentee Details</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <p><strong>First Name:</strong> {{ mentee?.firstname }}</p>
          <p><strong>Last Name:</strong> {{ mentee?.lastname }}</p>
          <p><strong>Date of Birth:</strong> {{ mentee?.dateOfBirth | date }}</p>
          <p><strong>Phone:</strong> {{ mentee?.phone }}</p>
        </div>
        <div class="col-md-6">
          <p><strong>Email:</strong> {{ mentee?.email }}</p>
          <p><strong>Gender:</strong> {{ mentee?.gender }}</p>
          <p><strong>Height:</strong> {{ mentee?.height }} cm</p>
          <p>
            <strong>Status:</strong>
            <span [ngClass]="{'text-success': mentee?.active, 'text-danger': !mentee?.active}">
              {{ mentee?.active ? 'Active' : 'Inactive' }}
            </span>
          </p>
          <button class="btn btn-primary" *ngIf="!mentee?.firstLogin" (click)="openInitialReportModal()">Initial Report</button>
          <button class="btn btn-success me-2" *ngIf="!mentee?.active" (click)="activateAccount()">Activate Account</button>
          <button class="btn btn-danger me-2" *ngIf="mentee?.active" (click)="deactivateAccount()">Deactivate Account</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Workout Plans -->
  <div class="card shadow">
    <div class="card-header bg-dark text-white d-flex flex-wrap justify-content-center align-items-center justify-content-sm-between gap-3">
      <h5 class="display-6 text-nowrap text-capitalize text-white mb-0">Workout Plans</h5>
      <button class="btn btn-warning btn-sm" [routerLink]="['/workout-plan/create', mentee!.userId.keycloakId ]" style="margin-left: 4px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-plus"
             viewBox="0 0 16 16">
          <path d="M8 7v6h1V7h6V6H9V0H8v6H2v1h6z"/>
        </svg>
      </button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th class="table-dark">Name</th>
            <th class="table-dark">Date From</th>
            <th class="table-dark">Date To</th>
            <th class="table-dark text-center">Reported</th>
            <th class="table-dark text-center">Reviewed</th>
            <th class="table-dark"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let plan of workoutPlans" class="align-middle">
            <td class="text-truncate" style="max-width: 100px;">{{ plan.name }}</td>
            <td class="text-truncate" style="max-width: 100px;">{{ plan.dateRange.from }}</td>
            <td class="text-truncate" style="max-width: 100px;">{{ plan.dateRange.to }}</td>
            <td class="text-truncate text-center" style="max-width: 50px;">
              <fa-icon [icon]="plan.report.id !== null ? faCheckCircle : faTimesCircle" [ngClass]="{'text-success': plan.report.id !== null, 'text-danger': plan.report.id === null}"></fa-icon>
            </td>
            <td class="text-truncate text-center" style="max-width: 50px;">
              <fa-icon [icon]="plan.report.reviewed === true ? faCheckCircle : faTimesCircle" [ngClass]="{'text-success': plan.report.reviewed === true, 'text-danger': plan.report.reviewed !== true}"></fa-icon>
            </td>
            <td class="text-center">
              <button (click)="openReportModal(plan.report.id)" *ngIf="plan.report.id !== null" class="btn btn-sm btn-primary">Show Report</button>
              <a [routerLink]="['/workout-plan-details', plan.id]" class="btn btn-sm btn-warning">Plan Details</a>
              <button (click)="deleteWorkoutPlan(plan)" class="btn btn-sm btn-danger"><fa-icon [icon]="['fas', 'trash']"></fa-icon></button>
              <a [routerLink]="['/workout-plan/edit', plan.id]" class="btn btn-sm btn-primary"><fa-icon [icon]="['fas', 'edit']"></fa-icon></a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer">
    </div>
  </div>
</div>
