<div class="container mt-4">
  <div class="">
    <div class="card shadow">
      <div
        class="card-header bg-dark d-flex flex-wrap justify-content-center align-items-center justify-content-sm-between gap-3">
        <h5 class="display-6 text-nowrap text-capitalize text-white mb-0">Exercises</h5>
        <div class="input-group input-group-sm w-auto">
          <input [(ngModel)]="searchCriteria.name" class="form-control form-control-sm" placeholder="Name" style="width: 180px"
                 type="text">
          <select [(ngModel)]="searchCriteria.muscleGroup" class="form-select form-select-sm" style="width: 180px">
            <option [ngValue]="null">All muscle groups</option>
            <option *ngFor="let muscleGroup of muscleGroupsValues" [value]="muscleGroup">{{ muscleGroup }}</option>
          </select>
          <select [(ngModel)]="searchCriteria.muscle" class="form-select form-select-sm" style="width: 180px">
            <option [ngValue]="null">All muscles</option>
            <option *ngFor="let muscle of getMusclesByMuscleGroup(searchCriteria.muscleGroup)"
                    [value]="muscle">{{ muscle }}
            </option>
          </select>
          <button (click)="onSearchButtonClick()" class="btn btn-outline-primary btn-sm link-warning" type="button">
            <svg class="bi bi-search mb-1" fill="currentColor" height="1em" viewBox="0 0 16 16" width="1em"
                 xmlns="http://www.w3.org/2000/svg">
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th class="table-dark">Exercise name</th>
              <th class="table-dark">Muscle involved</th>
              <th class="table-dark"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let exercise of exercises">
              <td class="text-truncate" style="max-width: 100px;">{{ exercise.name }}</td>
              <td class="text-truncate" style="max-width: 100px;">{{ exercise.muscleInvolved }}</td>
              <td class="text-center">
                <a [routerLink]="['exercise-details', exercise.id]">
                  <svg class="bi bi-eye-fill text-warning fs-5 text-primary" fill="currentColor" height="1em" viewBox="0 0 16 16"
                       width="1em"
                       xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"></path>
                    <path
                      d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"></path>
                  </svg>
                </a>

              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer">
        <nav>
          <select (ngModelChange)="onPageSizeChange($event)" [(ngModel)]="pageSize" class="form-select-sm">
            <option [ngValue]="5">5</option>
            <option [ngValue]="10">10</option>
            <option [ngValue]="15">15</option>
          </select>
          <ul class="pagination pagination-sm mb-0 justify-content-center">
            <li [class.disabled]="currentPage === 0" class="page-item">
              <a (click)="onPageChange(currentPage - 1)" aria-label="Previous" class="page-link">«</a>
            </li>
            <li *ngFor="let page of range(totalPages); let i = index" [class.active]="i === currentPage"
                class="page-item">
              <a (click)="onPageChange(i)" class="page-link">{{ i + 1 }}</a>
            </li>
            <li [class.disabled]="currentPage === totalPages - 1" class="page-item">
              <a (click)="onPageChange(currentPage + 1)" aria-label="Next" class="page-link">»</a>
            </li>
          </ul>

        </nav>
      </div>
    </div>
  </div>
</div>

x
