<div class="container mt-4">
  <div class="card">
    <div class="card-header bg-dark text-white">
      <h2>Add Exercise</h2>
    </div>
    <div class="card-body">
      <form (ngSubmit)="save()" [formGroup]="exerciseForm">
        <div class="row mb-3">
          <div class="col-md-3"><strong>Exercise name:</strong></div>
          <div class="col-md-9">
            <input [class.is-invalid]="exerciseForm.get('name')?.invalid && exerciseForm.get('name')?.touched" class="form-control"
                   formControlName="name"/>
            <div *ngIf="exerciseForm.get('name')?.invalid && exerciseForm.get('name')?.touched"
                 class="invalid-feedback">
              Name is required.
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3"><strong>Muscle involved:</strong></div>
          <div class="col-md-9">
            <select [class.is-invalid]="exerciseForm.get('muscleInvolved')?.invalid && exerciseForm.get('muscleInvolved')?.touched" class="form-control"
                    formControlName="muscleInvolved">
              <option *ngFor="let muscle of muscles" [value]="muscle">{{ muscle }}</option>
            </select>
            <div *ngIf="exerciseForm.get('muscleInvolved')?.invalid && exerciseForm.get('muscleInvolved')?.touched"
                 class="invalid-feedback">
              Muscle involved is required.
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3"><strong>Description:</strong></div>
          <div class="col-md-9">
            <textarea [class.is-invalid]="exerciseForm.get('description')?.invalid && exerciseForm.get('description')?.touched" class="form-control"
                      formControlName="description"></textarea>
            <div *ngIf="exerciseForm.get('description')?.invalid && exerciseForm.get('description')?.touched"
                 class="invalid-feedback">
              Description is required.
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3"><strong>Video tutorial:</strong></div>
          <div class="col-md-9">
            <input [class.is-invalid]="exerciseForm.get('url')?.invalid && exerciseForm.get('url')?.touched" class="form-control"
                   formControlName="url"/>
          </div>
        </div>
        <button class="btn btn-primary me-2" type="submit">Save</button>
        <button [routerLink]="'/exercises'" class="btn btn-secondary" type="button">Cancel</button>
      </form>
    </div>
  </div>
</div>
