<div class="container mt-4">
  <div class="card">
    <div class="card-header bg-dark text-white">
      <h2>Add Exercise</h2>
    </div>
    <div class="card-body">
      <form [formGroup]="exerciseForm" (ngSubmit)="save()">
        <div class="row mb-3">
          <div class="col-md-3"><strong>Exercise name:</strong></div>
          <div class="col-md-9">
            <input formControlName="name" class="form-control" [class.is-invalid]="exerciseForm.get('name')?.invalid && exerciseForm.get('name')?.touched" />
            <div *ngIf="exerciseForm.get('name')?.invalid && exerciseForm.get('name')?.touched" class="invalid-feedback">
              Name is required.
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3"><strong>Muscle involved:</strong></div>
          <div class="col-md-9">
            <select formControlName="muscleInvolved" class="form-control" [class.is-invalid]="exerciseForm.get('muscleInvolved')?.invalid && exerciseForm.get('muscleInvolved')?.touched">
              <option *ngFor="let muscle of muscles" [value]="muscle">{{ muscle }}</option>
            </select>
            <div *ngIf="exerciseForm.get('muscleInvolved')?.invalid && exerciseForm.get('muscleInvolved')?.touched" class="invalid-feedback">
              Muscle involved is required.
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3"><strong>Description:</strong></div>
          <div class="col-md-9">
            <textarea formControlName="description" class="form-control" [class.is-invalid]="exerciseForm.get('description')?.invalid && exerciseForm.get('description')?.touched"></textarea>
            <div *ngIf="exerciseForm.get('description')?.invalid && exerciseForm.get('description')?.touched" class="invalid-feedback">
              Description is required.
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3"><strong>Video tutorial:</strong></div>
          <div class="col-md-9">
            <input formControlName="url" class="form-control" [class.is-invalid]="exerciseForm.get('url')?.invalid && exerciseForm.get('url')?.touched" />
          </div>
        </div>
        <button type="submit" class="btn btn-primary me-2">Save</button>
        <button type="button" class="btn btn-secondary" [routerLink]="'/exercises'">Cancel</button>
      </form>
    </div>
  </div>
</div>
