<nav class="navbar navbar-expand-md bg-dark py-3 sticky-top" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <span
        class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon">
          <img ngSrc="assets/dietetyk1.svg" alt="Logo" width="70" height="70" class="d-inline-block align-top" priority>
      </span>
      <span>TrainMate</span>
    </a>
    <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5">
      <span class="visually-hidden">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navcol-5">

      <ul class="navbar-nav ms-auto">
        <ng-container *ngIf="currentUser?.role !== 'MENTEE'">
          <li class="nav-item">
            <a routerLink="/exercises" routerLinkActive="active" class="nav-link">Exercises</a>
          </li>
          <li class="nav-item">
            <a routerLink="/workouts" routerLinkActive="active" class="nav-link">Workouts</a>
          </li>
          <li class="nav-item">
            <a routerLink="/mentees" routerLinkActive="active" class="nav-link">Mentees</a>
          </li>
        </ng-container>
        <ng-container *ngIf="currentUser?.role == 'MENTEE'">
          <li class="nav-item">
            <a routerLink="/my-workouts" routerLinkActive="active" class="nav-link">My workouts</a>
          </li>
          <li class="nav-item">
            <a routerLink="/my-progress" routerLinkActive="active" class="nav-link">My progress</a>
          </li>
        </ng-container>
        <li>
          <a routerLink="/personal-data" *ngIf="currentUser" class="btn btn-warning ms-md-2"
             role="button">{{ currentUser.personalInfo.firstname }} {{ currentUser.personalInfo.lastname }}</a>
        </li>
        <li>
          <a routerLink="/logout" (click)="logout()" class="btn btn-warning ms-md-2" role="button">Logout</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
