<div class="container mt-4">
  <div class="card">
    <div class="card-header bg-dark text-white">
      <h2>Invite Mentee</h2>
    </div>
    <div class="card-body">
      <form (ngSubmit)="onInvite()" [formGroup]="inviteForm">
        <div class="row mb-3">
          <div class="col-md-3"><strong>Email address:</strong></div>
          <div class="col-md-9">
            <input [class.is-invalid]="inviteForm.get('email')?.invalid && inviteForm.get('email')?.touched" class="form-control"
                   formControlName="email"/>
            <div *ngIf="inviteForm.get('email')?.invalid && inviteForm.get('email')?.touched" class="invalid-feedback">
              Valid email is required.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-right">
            <button class="btn btn-primary" type="submit">Invite</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
