.card-header {
  background-color: #343a40;
  color: white;
}

.input-group-sm .form-control-sm {
  width: 180px;
}

.page-link {
  cursor: pointer;
  color: black;
}

.active .page-link {
  background-color: #ffc107;
  border-color: #ffc107;
  color: white;
}

.disabled .page-link {
  cursor: not-allowed;
  color: #6c757d;
  background-color: #fff;
  border-color: #dee2e6;
}

.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}

.dropdown-item {
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #ffc107; /* kolor tła podczas najechania */
  color: #fff; /* kolor tekstu podczas najechania */
}
