<div class="container mt-4">
  <div class="card">
    <div class="card-header bg-dark text-white">
      <div class="d-flex justify-content-between align-items-center w-100">
        <h2>{{ workoutPlan?.name }}</h2>
        <h2>{{ workoutPlan?.dateRange?.from }}</h2>
        <h2>{{ workoutPlan?.dateRange?.to }}</h2>
        <nav>
          WEEK
          <ul class="pagination mb-0">
            <li *ngFor="let page of range(totalWeeks)" [class.active]="page + 1 === currentPage" class="page-item"
                style="cursor: pointer">
              <a (click)="onPageChange(page + 1)" class="page-link">{{ page + 1 }}</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div *ngFor="let day of days" class="col">
            <div class="day-header p-3 mb-4 rounded text-center">
              <h3>{{ day }}</h3>
            </div>
            <div (click)="onTaskClick(task)" *ngFor="let task of tasks[day]" class="task p-3 mb-3 rounded"
                 style="cursor: pointer;">
              <div class="task-header">
                <h4>{{ task.name }}</h4>
              </div>
              <div class="task-body">
                <div>
                  <fa-icon [icon]="['fas', 'clock']"></fa-icon>
                  Tempo: {{ task.tempo }}
                </div>
                <div>
                  <fa-icon [icon]="['fas', 'sync']"></fa-icon>
                  Reps/Sets: {{ task.repetitions }}/{{ task.sets }}
                </div>
                <div>
                  <fa-icon [icon]="['fas', 'dumbbell']"></fa-icon>
                  Weight: {{ task.weight }}kg
                </div>
                <div>
                  <fa-icon [icon]="['fas', 'heartbeat']"></fa-icon>
                  RIR: {{ task.rir }}
                </div>
              </div>
              <div class="text-center task-actions">
                <button (click)="openReportModal(task); $event.stopPropagation()"
                        [ngClass]="{'btn-success': task.reported, 'btn-danger': !task.reported}"
                        class="btn mt-2">
                  Report
                </button>
                <button (click)="editExerciseItem(task, day); $event.stopPropagation()"
                        class="btn btn-primary mt-2 ms-2">
                  <fa-icon [icon]="['fas', 'edit']"></fa-icon>
                </button>
                <button (click)="deleteExerciseItem(task); $event.stopPropagation()"
                        class="btn btn-danger mt-2 ms-2">
                  <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                </button>
              </div>
            </div>
            <!-- Add exercise tile -->
            <div (click)="openAddExerciseModal(day)" class="task p-3 mb-3 rounded text-center" style="cursor: pointer;">
              <h4>+ Add Exercise</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
