.days-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 0;
}

.day-col {
  flex: 0 0 14.2857%; /* Each day takes up 1/7th of the width */
  max-width: 14.2857%;
  padding: 0 3px; /* Padding between columns */
}

.day-header {
  background-color: #333;
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.task {
  background-color: #ffc107;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.task-header {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task-body {
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

.accordion-button {
  font-weight: bold;
}

.accordion-button:not(.collapsed) {
  color: #0d6efd;
  background-color: #e7f1ff;
}

.accordion-body {
  background-color: #f8f9fa;
}

i.fas.fa-chevron-down {
  transition: transform 0.2s ease;
}

i.fas.fa-chevron-up {
  transition: transform 0.2s ease;
}

/*.custom-dialog .mat-dialog-container {*/
/*  background-color: #ffc107;*/
/*  color: #000;*/
/*  border-radius: 8px;*/
/*  padding: 20px;*/
/*}*/

/*.custom-dialog .mat-dialog-title {*/
/*  color: #fff;*/
/*  background-color: #333;*/
/*  padding: 10px;*/
/*  border-radius: 6px 6px 0 0;*/
/*}*/

/*.custom-dialog .mat-dialog-content {*/
/*  padding: 20px;*/
/*}*/

/*.custom-dialog .mat-dialog-actions {*/
/*  justify-content: flex-end;*/
/*  padding: 10px 0 0 0;*/
/*}*/

.page-link {
  cursor: pointer;
  color: black;
}

.active .page-link {
  background-color: #ffc107;
  border-color: #ffc107;
  color: white;
}

.disabled .page-link {
  cursor: not-allowed;
  color: #6c757d;
  background-color: #fff;
  border-color: #dee2e6;
}
