<div class="container mt-4">
  <div class="card">
    <div class="card-header bg-dark text-white">
      <h2>Exercise Details</h2>
    </div>
    <div *ngIf="exercise" class="card-body">
      <form *ngIf="editMode" [formGroup]="exerciseForm">
        <div class="row mb-3">
          <div class="col-md-3"><strong>Exercise name:</strong></div>
          <div class="col-md-9">
            <input [class.is-invalid]="exerciseForm.get('name')?.invalid && exerciseForm.get('name')?.touched" class="form-control"
                   formControlName="name"/>
            <div *ngIf="exerciseForm.get('name')?.invalid && exerciseForm.get('name')?.touched"
                 class="invalid-feedback">
              Name is required.
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3"><strong>Muscle involved:</strong></div>
          <div class="col-md-9">
            <select class="form-control" formControlName="muscleInvolved">
              <option *ngFor="let muscle of muscles" [value]="muscle">{{ muscle }}</option>
            </select>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3"><strong>Description:</strong></div>
          <div class="col-md-9">
            <textarea [class.is-invalid]="exerciseForm.get('description')?.invalid && exerciseForm.get('description')?.touched" class="form-control"
                      formControlName="description"></textarea>
            <div *ngIf="exerciseForm.get('description')?.invalid && exerciseForm.get('description')?.touched"
                 class="invalid-feedback">
              Description is required.
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3"><strong>Video tutorial:</strong></div>
          <div class="col-md-9">
            <input [class.is-invalid]="exerciseForm.get('url')?.invalid && exerciseForm.get('url')?.touched" class="form-control"
                   formControlName="url"/>
          </div>
        </div>
      </form>
      <div *ngIf="!editMode">
        <div class="row mb-3">
          <div class="col-md-3"><strong>Exercise name:</strong></div>
          <div class="col-md-9">{{ exercise.name }}</div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3"><strong>Muscle involved:</strong></div>
          <div class="col-md-9">{{ exercise.muscleInvolved }}</div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3"><strong>Description:</strong></div>
          <div class="col-md-9">{{ exercise.description }}</div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3"><strong>Video tutorial:</strong></div>
          <div class="col-md-9">
            <iframe *ngIf="isExerciseUrlValid(exercise.url)" [src]="exercise.url | safe" class="w-100"
                    height="315"></iframe>
            <div *ngIf="!isExerciseUrlValid(exercise.url)">
              Exercise url is not correct
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button (click)="toggleEdit()" *ngIf="!editMode" class="btn btn-primary me-2">Edit</button>
      <button (click)="save()" *ngIf="editMode" class="btn btn-primary me-2">Save</button>
      <button (click)="cancel()" *ngIf="editMode" class="btn btn-secondary me-2">Cancel</button>
      <button (click)="delete()" class="btn btn-danger me-2">Delete</button>
      <button [routerLink]="'/exercises'" class="btn btn-secondary">Back</button>
    </div>
  </div>
</div>
