<div class="container mt-4">
  <div class="card">
    <div class="card-header bg-dark text-white">
      <h2>Personal Data</h2>
    </div>
    <div class="card-body">
      <form [formGroup]="menteeDetailsForm">
        <div *ngFor="let field of fields" class="row mb-3">
          <div class="col-md-3 d-flex align-items-center"><strong>{{ field.label }}:</strong></div>
          <div class="col-md-9">
            <ng-container [ngSwitch]="field.name">
              <input *ngSwitchCase="'dateOfBirth'" [class.is-invalid]="isInvalid(field.name)" [formControlName]="field.name" class="form-control"
                     type="date"/>
              <select *ngSwitchCase="'gender'" [class.is-invalid]="isInvalid(field.name)" [formControlName]="field.name"
                      class="form-control">
                <option value="">Select Gender</option>
                <option value="MALE">Male</option>
                <option value="FEMALE">Female</option>
              </select>
              <input *ngSwitchDefault [class.is-invalid]="isInvalid(field.name)" [formControlName]="field.name"
                     class="form-control"/>
            </ng-container>
            <div *ngIf="isInvalid(field.name)" class="invalid-feedback">
              {{ field.label }} is required and must be valid.
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button (click)="save()" class="btn btn-warning me-2">Save Changes</button>
      <button (click)="onCancel()" *ngIf="!isMenteeFirstLogin()" class="btn btn-warning me-2">Cancel</button>
    </div>
  </div>
</div>
