.card-header {
  background-color: #343a40;
  color: white;
}

.img-thumbnail {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
}

.img-max-size {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.border {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
