<div class="container mt-4">
  <div class="card">
    <div class="card-header bg-dark text-white">
      <h2>{{ isEditMode ? 'Edit Workout Plan' : 'Create Workout Plan' }}</h2>
    </div>
    <div class="card-body">
      <form [formGroup]="workoutPlanForm">
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label class="form-label" for="name">Name</label>
              <input [class.is-invalid]="isInvalid('name')" class="form-control" formControlName="name" id="name"/>
              <div *ngIf="isInvalid('name')" class="invalid-feedback">
                Name is required.
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="category">Category</label>
              <input [class.is-invalid]="isInvalid('category')" class="form-control" formControlName="category"
                     id="category"/>
              <div *ngIf="isInvalid('category')" class="invalid-feedback">
                Category is required.
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label class="form-label" for="startDate">Start Date</label>
              <input [class.is-invalid]="isInvalid('startDate')" class="form-control" formControlName="startDate" id="startDate"
                     type="date"/>
              <div *ngIf="isInvalid('startDate')" class="invalid-feedback">
                Start Date is required.
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="durationInWeeks">Duration (weeks)</label>
              <input [class.is-invalid]="isInvalid('durationInWeeks')" class="form-control" formControlName="durationInWeeks" id="durationInWeeks"
                     type="number"/>
              <div *ngIf="isInvalid('durationInWeeks')" class="invalid-feedback">
                Duration is required.
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button (click)="onSubmit()" class="btn btn-primary me-2">Save</button>
      <button (click)="onComplete()" *ngIf="!isEditMode" class="btn btn-secondary me-2">Save and Complete</button>
      <button (click)="onCancel()" class="btn btn-danger me-2">Cancel</button>
    </div>
  </div>
</div>
