<div class="custom-dialog-container">
  <h2 class="custom-dialog-title">Report Exercise: {{ data.task.name }}</h2>
  <div class="custom-dialog-content">
    <div class="accordion" id="setsAccordion">
      <div *ngFor="let set of data.reportSets; let i = index" class="accordion-item">
        <h2 class="accordion-header" id="heading{{ i }}">
          <button (click)="toggleSet(i)" class="accordion-button d-flex justify-content-between align-items-center"
                  type="button">
            Set {{ i + 1 }}
            <i [ngClass]="expandedSets[i] ? 'fas fa-chevron-up' : 'fas fa-chevron-down'"></i>
          </button>
        </h2>
        <div [ngClass]="{'collapse': !expandedSets[i], 'show': expandedSets[i]}" class="accordion-collapse">
          <div class="accordion-body">
            <div class="mb-3">
              <label class="form-label" for="weight-{{ i }}">Weight (kg)</label>
              <input [(ngModel)]="set.reportedWeight" class="form-control" id="weight-{{ i }}" type="number">
            </div>
            <div class="mb-3">
              <label class="form-label" for="reps-{{ i }}">Reps</label>
              <input [(ngModel)]="set.reportedRepetitions" class="form-control" id="reps-{{ i }}" type="number">
            </div>
            <div class="mb-3">
              <label class="form-label" for="rir-{{ i }}">RIR</label>
              <input [(ngModel)]="set.reportedRir" class="form-control" id="rir-{{ i }}" type="number">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="notes">Notes</label>
      <textarea [(ngModel)]="data.reportNotes" class="form-control" id="notes"></textarea>
    </div>
  </div>
  <div class="custom-dialog-actions">
    <button class="button" mat-button mat-dialog-close>Close</button>
    <button (click)="submitReport()" *ngIf="isMentee()" class="button" mat-button>Submit Report</button>
  </div>
</div>
